* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 1.1em;
  color: white;
  background-color: #181818;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

canvas {
  background-image: url(../images/Background/Space01.png);
  background-size: cover;
  background-repeat: repeat;
  animation: moveBackground 30s linear infinite;
}
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -5000px 0;
  }
}

.gameInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 1em 0;
}

.play {
  padding: 0.5em 1em;
  background-color: green;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.play:hover {
  background-color: #00b409;
}

.tutorial {
  max-width: 800px;
  padding: 1em 0;
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.7em;
}

.tutorial h1 {
  font-size: 2em;
}

.tutorial p {
  font-size: 1.25em;
}

.tutorial ul li {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
